.add-package-form {
  width: 60vw;
  /* max-width: 600px; */
  margin: 2rem auto;
  background: #fffde7;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.add-package-form h2 {
  text-align: center;
  color: #d4aa00;
  margin-bottom: 1.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-row label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #444;
}

.form-row input,
.form-row select {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-row input:focus,
.form-row select:focus {
  border-color: #fcd535;
  outline: none;
  box-shadow: 0 0 5px #fcd53599;
}

.submit-btn {
  background-color: #fcd535;
  color: #222;
  font-weight: bold;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  transition: background 0.2s ease;
}


.home-link{
    text-decoration: none;
    color: rgb(45, 45, 45);
    transition: 0.5s ease;
    position: absolute;
}

.home-link:hover{
  transform: translate(-3px);
  color: #ffcc00;
}

.edit-button{
  background-color: #d4ff00;
  color: #222;
  font-weight: bold;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 45%;
  margin-top: 1rem;
  transition: background 0.2s ease;
}

.delete-btn{
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 0.8rem;
  border: none;
  margin-right: 7%;
  margin-left: 2%;
  border-radius: 6px;
  cursor: pointer;
  width: 45%;
  margin-top: 1rem;
  transition: background 0.2s ease;
}

.submit-btn:hover {
  background-color: #ffcc00;
}

@media screen and (max-width: 480px) {
  .delete-btn{
    margin: 0;
  } 

  .delete-btn,.edit-button{
    min-width: 100%;
  }

}

@media screen and (max-width: 1024px) {
  .home-link{
    position: absolute;
    margin-top: 20px;
  }
}
