.admin{
  display: flex;
}

.navbar {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* background-color: aqua; */
  width: 27vh;
  height: 100vh;
  position: fixed;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar img {
  height: 6vh;
  width: auto;
}

.nav-logo{
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  display: flex;
  margin-top: 2vh;
  justify-content:center;
  align-items: center;
  list-style: none;
  width: 100%;
  line-height: 2;
}

.information {
  height: 200vh;
  margin-left: 30vh;
}

@media (max-width:479px) {
  .navbar {
    display: none;
  }
}