.admin{
  display: flex;
  min-width: 99vw;
  min-height: 100vh;
  background-color: aliceblue;
  scrollbar-width:none;
}

.navbar {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color:#ffffff;
  width: 15vw;
  height: 100vh;
  position: fixed;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5), 0 0px 5px 0 rgba(255, 242, 0, 0.19);
}

.navbar img {
  height: 50px;
  width: auto;
}

.nav-logo{
  background-color: #fff7d2;
  /* margin-right: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  border-bottom:1px solid #ffcc00;
  box-shadow: 0 0px 10px -5px #ffcc00;
}

.nav-links{
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 2vh;
  margin-right: 2vh;
  list-style: none;
  width: auto;
  height: 80%;
  line-height: 2.2;
  overflow-y: scroll;
  scrollbar-width:none;
}

.nav-links div:hover{
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.582);
  cursor: pointer;
}

.Link{
  color:black;
  text-decoration: none;
}

.information {
  width: 85vw;
  margin-left: 15vw;
  padding-left: 1vw;
  /* background-color: aqua; */
}

.title{
  font-size: 1.4vw;
  font-weight: 600;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: left;
}

.cards{
  display: flex;
  margin-top: 2vh;
  flex-wrap: wrap;
  gap:1rem;
}

.card{
  /* margin-right: 2vw; */
  margin-left: 2vw;
  /* width: 330px; */
  width: 44%;
  height: 80px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: aqua; */
  border-radius: 7px;
  transition: 0.3s background-color, 0.3s box-shadow;
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.card img {
  height: 70px;
  margin-left: 10px;
}

.card:hover{
  background-color: rgba(255, 255, 0, 0.516);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  transition-delay: 0.1s ;
}

.logout-btn{
  font-size: 1.1vw;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5), 0 0px 5px 0 rgba(255, 242, 0, 0.19);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  bottom: 2%;
}

.logout-btn-phone{
  font-size: 12px;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5), 0 0px 5px 0 rgba(255, 242, 0, 0.19);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  width: 100px;
  position: absolute;
  right: 10px;
  top:1vh;
  display: none;
}

@media screen and (max-width: 1024px) {
  .admin {
    flex-direction: column;
  }

  .nav-links{
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 10vw;
  }

  .nav-links div{
    margin-left: 5vw;
    margin-right:5vw;
  }

  .navbar {
    position: relative;
    height: auto;
    width: 100vw;
    flex-direction: row;
  }

  .information {
    margin-left: 0;
    width: auto;
    /* padding: 2vh 4vw; */
  }

  .title {
    display: none;
  }

  .card{
    width: 44%;
  }

  .logout-btn{
    display:none ;
  }

  .logout-btn-phone{
    display: block;
  }

}

@media  screen and (max-width: 431px) {
  .card{
    width: 95vw;
  }

  .nav-logo{
    justify-content: left;
  }
}