@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Funnel+Display:wght@300..800&family=Notable&family=Poiret+One&family=Quicksand:wght@300..700&family=Roboto+Flex:opsz@8..144&display=swap');

html, body {
  margin: 0;
  padding: 0;
  scrollbar-width:none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}